<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 栏目服务 -->
	<bean id="noticeColumnService" class="com.examw.oa.service.adm.impl.NoticeColumnServiceImpl">
		<!-- 栏目数据接口 -->
		<property name="noticeColumnDao" ref="noticeColumnDao"/>
	</bean>
	<!-- 通告信息 -->
	<bean id="noticeService" class="com.examw.oa.service.adm.impl.NoticeServiceImpl">
		<!-- 通告数据接口 -->
		<property name="noticeDao" ref="noticeDao"/>
		<!-- 栏目数据接口 -->
		<property name="noticeColumnDao" ref="noticeColumnDao" />
		<!-- 栏目服务接口 -->
		<property name="noticeColumnService" ref="noticeColumnService" />
	</bean>
	<!-- 请假条信息 -->
	<bean id="leaveService" class="com.examw.oa.service.adm.impl.LeaveServiceImpl">
		<!-- 请假数据接口 -->
		<property name="leaveDao" ref="leaveDao"/>
		<!-- 员工数据接口 -->
		<property name="employeeDao" ref="employeeDao" />
		<!-- 请假类型集合 -->
		<property name="typeMap">
			<map>
				<!-- 休假 -->
				<entry key="1" value="${LEAVE_TYPE_VACATION}"/>
				<!-- 事假 -->
				<entry key="2" value="${LEAVE_TYPE_COMPA}"/>
				<!-- 其他 -->
				<entry key="3" value="${LEAVE_TYPE_OTHER}"/>
				<!-- 病假 有证明 -->
				<entry key="4" value="${LEAVE_TYPE_SICK_PROVE}"/>
				<!-- 病假 无证明 -->
				<entry key="5" value="${LEAVE_TYPE_SICK_NONPROVE}"/>
			</map>
		</property>
		<!-- 请假状态集合 -->
		<property name="statusMap">
			<map>
				<!-- 部门经理（主管）审批 -->
				<entry key="1" value="${LEAVE_STATUS_APPROVAL_DEPT}"/>
				<!-- 行政人事部门审批 -->
				<entry key="2" value="${LEAVE_STATUS_APPROVAL_HR}"/>
				<!-- 公司总经理审批 -->
				<entry key="3" value="${LEAVE_STATUS_APPROVAL_BOSS}"/>
			</map>
		</property>
		<!-- 审批结果集合 -->
		<property name="resultMap">
			<map>
				<!-- 提交 -->
				<entry key="-1" value="${LEAVE_RESULT_POST}" />
				<!-- 审批中 -->
				<entry key="0" value="${LEAVE_RESULT_APPROVAL}" />
				<!-- 同意 -->
				<entry key="1" value="${LEAVE_RESULT_AGREE}" />
				<!-- 不同意 -->
				<entry key="2" value="${LEAVE_RESULT_DISAGREE}" />
			</map>
		</property>
	</bean>
</beans>