<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 业务系统信息 -->
	<bean id="businessService" class="com.examw.oa.service.plan.impl.BusinessServiceImpl">
		<!-- 业务系统数据接口 -->
		<property name="businessDao" ref="businessDao"/>
		<!-- 状态集合 -->
		<property name="statusMap">
			<map>
				<!-- 停用 -->
				<entry key="0" value="${STATUS_STOP}"/>
				<!-- 正常 -->
				<entry key="1" value="${STATUS_NORMAL}"/>
				<!-- 测试 -->
				<entry key="2" value="${STATUS_TEST}"/>
			</map>
		</property>
	</bean>
	<!-- 员工报表设置信息 -->
	<bean id="settingsService" class="com.examw.oa.service.plan.impl.SettingsServiceImpl">
		<!-- 员工报表设置接口 -->
		<property name="settingsDao" ref="settingsDao"/>
		<!-- 员工信息接口 -->
		<property name="employeeDao" ref="employeeDao" />
		<!-- 部门数据接口 -->
		<property name="departmentDao" ref="departmentDao"/>
		<!-- 类型集合 -->
		<property name="typeMap">
			<map>
				<!-- 日报 -->
				<entry key="1" value="${TYPE_DAY}"/>
				<!-- 周报 -->
				<entry key="2" value="${TYPE_WEEK}"/>
				<!-- 月报 -->
				<entry key="4" value="${TYPE_MONTH}"/>
			</map>
		</property>
	</bean>
	<!-- 员工报表信息 -->
	<bean id="reportSerivce" class="com.examw.oa.service.plan.impl.ReportServiceImpl">
		<!--员工报表信息接口  -->
		<property name="reportDao" ref="reportDao"/>
		<!--  -->
		<property name="detailDao" ref="detailDao"/>
		<!--员工报表设置服务接口 -->
		<property name="settingsService" ref="settingsService" />
		<!-- 状态集合 -->
		<property name="statusMap">
				<map>
					<!-- 未提交 -->
					<entry key="0" value="${STATUS_NONE}"/>
					<!-- 已提交 -->
					<entry key="1" value="${STATUS_POST}"/>
					<!-- 已审阅 -->
					<entry key="2" value="${STATUS_AUDIT}"/>
					<!-- 迟交 -->
					<entry key="3" value="${STATUS_LATE}"/>
					<!-- 缺交 -->
					<entry key="4" value="${STATUS_LACK}"/>
				</map>
		</property>
	</bean>
	<!-- 计划总结明细 -->
	<bean id="detailService" class="com.examw.oa.service.plan.impl.DetailServiceImpl">
		<!--计划总结明细接口 -->
		<property name="detailDao" ref="detailDao"/>
		<!--类型集合 -->
		<property name="typeMap">
			<map>
				<!--计划  -->
				<entry key="1" value="${TYPE_PLAN}"/>
				<!--总结 -->
				<entry key="2" value="${TYPE_SUMMARY}"/>
				<!--困难/支援 -->
				<entry key="3" value="${TYPE_SUPPORT}"/>
				<!--建议/意见 -->
				<entry key="4" value="${TYPE_SUGGESTIONS}"/>
			</map>
		</property>
	</bean>
</beans>