<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 岗位信息 -->
	<bean id="rankservice" class="com.examw.oa.service.org.impl.RankServiceImpl">
		<property name="rankdao" ref="rankdao"/>
	</bean>
	<!-- 部门信息 -->
	<bean id="departservice" class="com.examw.oa.service.org.impl.DepartServiceImpl">
		<property name="departdao" ref="departdao"/>
	</bean>
	<!-- 岗位信息 -->
	<bean id="postservice" class="com.examw.oa.service.org.impl.PostServiceImpl">
		<property name="postdao" ref="postdao"/>
		<property name="departdao" ref="departdao"/>
	</bean>
	<!-- 员工信息 -->
	<bean id="emplservice" class="com.examw.oa.service.org.impl.EmplServiceImpl">
		<property name="empldao" ref="empldao"/>
		<property name="postdao" ref="postdao"/>
		<property name="departdao" ref="departdao"/>
		<property name="rankdao" ref="rankdao"/>
	</bean>
</beans>