<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 业务系统Dao -->
	<bean id="businessDao" class="com.examw.oa.dao.plan.impl.BusinessDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 员工报告设置Dao -->
	<bean id="settingsDao" class="com.examw.oa.dao.plan.impl.SettingsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 员工报告Dao -->
	<bean id="reportDao" class="com.examw.oa.dao.plan.impl.ReportDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 部门计划Dao -->
	<bean id="deptPlanDao" class="com.examw.oa.dao.plan.impl.DeptPlanDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 部门计划成员Dao -->
	<bean id="deptPlanMenberDao" class="com.examw.oa.dao.plan.impl.DeptPlanMenberDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>