<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 岗位信息 -->
	<bean id="rankService" class="com.examw.oa.service.org.impl.RankServiceImpl">
		<property name="rankDao" ref="rankDao"/>
	</bean>
	<!-- 部门信息 -->
	<bean id="departmentService" class="com.examw.oa.service.org.impl.DepartmentServiceImpl">
		<property name="departmentDao" ref="departmentDao"/>
	</bean>
	<!-- 岗位信息 -->
	<bean id="postService" class="com.examw.oa.service.org.impl.PostServiceImpl">
		<!-- 部门岗位数据接口 -->
		<property name="postDao" ref="postDao"/>
		<!-- 部门数据接口 -->
		<property name="departmentDao" ref="departmentDao"/>
	</bean>
	<!-- 员工信息 -->
	<bean id="employeeService" class="com.examw.oa.service.org.impl.EmployeeServiceImpl">
		<!-- 员工数据接口 -->
		<property name="employeeDao" ref="employeeDao" />
		<!-- 部门数据接口 -->
		<property name="departmentDao" ref="departmentDao" />
		<!-- 部门岗位数据接口 -->
		<property name="postDao" ref="postDao" />
		<!-- 员工级别数据接口 -->
		<property name="rankDao" ref="rankDao" />
		<!-- 用户服务接口 -->
		<property name="userService" ref="userService" />
		<!-- 性别集合 -->
		<property name="gendersMap">
			<map>
				<!-- 男性 -->
				<entry key="1" value="${GENDER_MALE}" />
				<!-- 女性 -->
				<entry key="2" value="${GENDER_FEMALE}" />
			</map>
		</property>
		<!-- 状态集合 -->
		<property name="statusMap">
			<map>
				<!-- 离职 -->
				<entry key="0" value="${STATUS_OUT}" />
				<!-- 在职 -->
				<entry key="1" value="${STATUS_ON}" />
				<!-- 限制登录 -->
				<entry key="-1" value="${STATUS_LIMIT}" />
			</map>
		</property>
	</bean>
</beans>