<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!--  系统管理 数据接口实现 -->
	<import resource="spring-examw-oa-dao-security.xml"/>
	<!--  组织架构 数据接口实现 -->
	<import resource="spring-examw-oa-dao-org.xml"/>
	<!--  计划总结  数据接口实现 -->
	<import resource="spring-examw-oa-dao-plan.xml"/>
</beans>
