<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean name="ReportServiceImpl" class="com.examw.oa.service.plan.impl.ReportServiceImpl"/>
   		
    <bean id="methodInvokingJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
       <property name="targetObject">
           <ref bean="ReportServiceImpl" />
       </property>
       <property name="targetMethod">
           <value>listener</value>
       </property>
    </bean>
    <!-- 配置触发器 -->
    <!-- 每天的23:59触发 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
       <property name="jobDetail">
           <ref bean="methodInvokingJobDetail" />
       </property>
       <property name="cronExpression">
           <value>0 59 23 * * ?</value>
       </property>
	 </bean>
	  <!-- 每周的23:59触发 -->
	<bean id="cronTrigger1" class="org.springframework.scheduling.quartz.CronTriggerBean">
       <property name="jobDetail">
           <ref bean="methodInvokingJobDetail" />
       </property>
       <property name="cronExpression">
           <value>0 59 23 ? * FRI</value>
       </property>
	</bean>
	   <!-- 每月最后一天的23:59触发 -->
	<bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerBean">
       <property name="jobDetail">
           <ref bean="methodInvokingJobDetail" />
       </property>
       <property name="cronExpression">
           <value>0 59 23 L * ?</value>
       </property>
	 </bean>
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
       <!-- 添加触发器 -->
       <property name="triggers">
           <list>
              <ref local="cronTrigger" />
              <ref local="cronTrigger1" />
              <ref local="cronTrigger2" />
           </list>
       </property>
    </bean>
</beans>